.calcBtns{
    height: 90px;
    width: 90px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    user-select: none;
    border: #e4e3e3 1px solid;
    box-shadow: 10px 10px 10px #b8b8b8;
    
}

.res{
    width: 180px;
    background-color: rgb(255, 199, 96);

}